<h3><i class="fas fa-book-reader"></i> StoryBooks</h3>
<div class="section">
    <p class="lead">Create public and private from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    {{#if errors}}
    {{#each errors}}
    <div class="alert alert-danger">{{this.msg}}</div>
    {{/each}}
    {{/if}}
    <form action="/users/register" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required placeholder="Enter Name">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required placeholder="Enter Email">
    </div>
    <div>
        <label for"password">Password</label>
        <input type="password" id="password" name="password" required placeholder="Enter Password">
    </div>
    <div>
        <label for"password">Confirm Password</label>
        <input type="password" id="password2" name="password2" required placeholder="Re-Enter Password">
    </div>
    <button type="submit">Register</button>
    </form>
    Already have an account? <a href="/users/login">Login</a>
</div>